<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>winterrdog's blog</title>
</head>

<body>
    <header>
        <h1><a href="/">winterrdog's blog</a></h1>
    </header>

    <article>
        <h2><a href="">My first post</a></h2>
        <time>published: 22.12.2022, 12:11</time>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur maiores earum, beatae veniam sit officiis
            vel molestiae? Quasi delectus, necessitatibus fuga ratione quibusdam non excepturi iste commodi
            voluptatibus, atque est?
        </p>
    </article>

    <article>
        <h2><a href="">My second post</a></h2>
        <time>published: 22.12.2022, 12:11</time>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere cumque totam numquam neque a ab voluptatum
            ut ad, quam alias! Qui odio id quos aperiam, ipsam placeat dolor corrupti sunt?
        </p>
    </article>
</body>

</html>